################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChessWithTDD/obj/Debug/ChessWithTDD.pdb
/ChessWithTDD/obj/Debug/ChessWithTDD.csproj.FileListAbsolute.txt
/ChessWithTDD/obj/Debug/ChessWithTDD.csprojResolveAssemblyReference.cache
/ChessWithTDD/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ChessWithTDD/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ChessWithTDD/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ChessWithTDD/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ChessWithTDD/bin/Debug/nunit.framework.xml
/ChessWithTDD/bin/Debug/nunit_random_seed.tmp
/ChessWithTDD/bin/Debug/Rhino.Mocks.xml
/.vs/ChessWithTDD/v14
/ChessWithTDD/obj/Debug/ChessWithTDD.dll
/ChessGameController/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ChessGameController/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ChessGameController/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ChessGameController/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ChessGameController/obj/Debug/ChessGameController.Properties.Resources.resources
/ChessGameController/obj/Debug/ChessGameController.pdb
/ChessGameController/obj/Debug/ChessGameController.GameEntryForm.resources
/ChessGameController/obj/Debug/ChessGameController.exe
/ChessGameController/obj/Debug/ChessGameController.csprojResolveAssemblyReference.cache
/ChessGameController/obj/Debug/ChessGameController.csproj.GenerateResource.Cache
/ChessGameController/obj/Debug/ChessGameController.csproj.FileListAbsolute.txt
/ChessGameUI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ChessGameUI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ChessGameUI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ChessGameUI/obj/Debug/MainWindow.g.i.cs
/ChessGameUI/obj/Debug/MainWindow.g.cs
/ChessGameUI/obj/Debug/MainWindow.baml
/ChessGameUI/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/ChessGameUI/obj/Debug/GeneratedInternalTypeHelper.g.cs
/ChessGameUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ChessGameUI/obj/Debug/ChessGameUI_MarkupCompile.lref
/ChessGameUI/obj/Debug/ChessGameUI_MarkupCompile.i.lref
/ChessGameUI/obj/Debug/ChessGameUI_MarkupCompile.i.cache
/ChessGameUI/obj/Debug/ChessGameUI_MarkupCompile.cache
/ChessGameUI/obj/Debug/ChessGameUI.Properties.Resources.resources
/ChessGameUI/obj/Debug/ChessGameUI.pdb
/ChessGameUI/obj/Debug/ChessGameUI.g.resources
/ChessGameUI/obj/Debug/ChessGameUI.exe
/ChessGameUI/obj/Debug/ChessGameUI.csprojResolveAssemblyReference.cache
/ChessGameUI/obj/Debug/ChessGameUI.csproj.GenerateResource.Cache
/ChessGameUI/obj/Debug/ChessGameUI.csproj.FileListAbsolute.txt
/ChessGameUI/obj/Debug/App.g.i.cs
/ChessGameUI/obj/Debug/App.g.cs
/ChessWithTDD/obj/Debug
/ChessGameUI/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
